.App {
  width: 100vw;
  display: grid;
  grid-template-columns: 12;
  background-color: #e5e7eb;
  gap: 0.5rem;
  height: 94vh;
}
.App .videoTimeline {
  background-color: #274b93;
  grid-column: 1/ 8;
}
.App .sidebar {
  background-color: #3c961c;
  grid-column: 8 / 12;
}
.App .videoTimeline {
  display: grid;
  grid-template-rows: 6;
}
.App .video-wrapper {
  background-color: #965f1c;
  grid-row: 1 / 4;
}
.App .timeline-wrapper {
  background-color: #580550;
  grid-row: 4 / 6;
}
